body {
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Replace with your desired gradient colors */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 3em;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
}
.container {
  display: flex;
  width: 100%;
  height: 1000px;
  margin-top: 20px;
}
.whiteboard-container {
  flex: 1;
  margin: 10px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #f70000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  margin-left: 200px;
}
.whiteboard {
  transition: transform 0.2s;
}
.whiteboard:hover {
  transform: scale(1.02);
}

.toolbar {
  width: 250px;
  padding: 20px;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
}
.toolbar label,
.toolbar input,
.toolbar select,
.toolbar button {
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .whiteboard-container {
    margin-left: 0px;
    width: 400px;
  }
  .toolbar {
    width: 50px;
    flex-direction: row;
  }
  .container {
    flex-direction: column;
  }
}
.text-element {
  position: fixed;
}

.whiteboard-container {
  width: 100%;
  height: 800px;
  padding: 20px;
}

.whiteboard {
  width: 100%;
  height: 1200px;
  border: 1px solid #ccc;
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar {
  width: 18%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-element {
  border: 1px dashed #ccc;
  padding: 5px;
  position: fixed;
}
